.book img{
    
        border-radius: 5px;
        display: block;
        margin-bottom: 22px;
        width: 600px;
        height: 400px;
      
}
.music img{
    
        border-radius: 30%;
        height: 130px;
        margin: -66px 0 22px 0;
        float: right;
        top: 50%;
        
        
      
}